@page
@model LayoutTemplateWebApp.Pages.MentorSAMA.PerfilMentorModel
@{
    var userRole = @Model.role;
    Layout = userRole == "7415" ? "_MentorLayout" : "_ErrorLayout";

    if (userRole != "7415") Response.Redirect("/ErrorPage");

}
@{
    List<string> provincias = new List<string>
        {
            "San Jose",
            "Alajuela",
            "Cartago",
            "Heredia",
            "Guanacaste",
            "Puntarenas",
            "Limon"
        };

    Dictionary<string, List<string>> diccCantones = new Dictionary<string, List<string>>
    {
        { "San Jose", new List<string>
            {
                "San Jose",
                "Escazu",
                "Desamparados",
                "Puriscal",
                "Tarrazu",
                "Aserri",
                "Mora",
                "Goicoechea",
                "Santa Ana",
                "Alajuelita",
                "Vazquez de Coronado",
                "Acosta",
                "Tibas",
                "Moravia",
                "Montes de Oca",
                "Turrubares",
                "Dota",
                "Curridabat",
                "Perez Zeledon",
                "Leon Cortes"
            }
        },
        {"Alajuela",new List<string>
            {
                "Alajuela",
                "San Ramon",
                "Grecia",
                "San Mateo",
                "Atenas",
                "Naranjo",
                "Palmares",
                "Poas",
                "Orotina",
                "San Carlos",
                "Zarcero",
                "Sarchi",
                "Upala",
                "Los Chiles",
                "Guatuso"
            }
        },
        {"Cartago",new List<string>
            {
                "Cartago",
                "Paraiso",
                "La Union",
                "Jimenez",
                "Turrialba",
                "Alvarado",
                "Oreamuno",
                "El Guarco"
            } 
        },
        {"Heredia",new List<string>
            {
                "Heredia",
                "Barva",
                "Santo Domingo",
                "Santa Barbara",
                "San Rafael",
                "San Isidro",
                "Belen",
                "Flores",
                "San Pablo",
                "Sarapiqui"
            }
        },
        {"Guanacaste",new List<string>
            {
                "Liberia",
                "Nicoya",
                "Santa Cruz",
                "Bagaces",
                "Carrillo",
                "Cañas",
                "Abangares",
                "Tilaran",
                "Nandayure",
                "La Cruz",
                "Hojancha"
            }
        },
        {"Puntarenas",new List<string>
            {
                "Puntarenas",
                "Esparza",
                "Buenos Aires",
                "Montes de Oro",
                "Osa",
                "Aguirre",
                "Golfito",
                "Coto Brus",
                "Parrita",
                "Corredores"
            }
        },
        {"Limon",new List<string>
            {
                "Limon",
                "Pococi",
                "Siquirres",
                "Talamanca",
                "Matina",
                "Guacimo"
            }
        }
    };
    string provinciaS = "San Jose";
}
@section Scripts{
<script src="~/js/MentorSAMA/FormularioMentor.js"></script>
}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container mt-5">
        <h1 class="text-center">Perfil de Mentor</h1>

        <!-- Sección de información del mentor -->
        <div class="row mt-4 justify-content-center">
            <label for="nombre" class="col-sm-2 col-form-label text-center">Nombre completo:</label>
            <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext text-center" id="nombre" value="@HttpContext.Session.GetString("name")">
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <label for="carrera" class="col-sm-2 col-form-label text-center">Carrera:</label>
            <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext text-center" id="carrera" value="Carrera del Usuario">
            </div>
        </div>
        <div class="row mt-2 mb-4 justify-content-center">
            <label for="correo" class="col-sm-2 col-form-label text-center">Correo:</label>
            <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext text-center" id="correo" value="@HttpContext.Session.GetString("email")">
            </div>
        </div>

        <!-- Sección ¿De dónde eres? -->
        <h3 class="text-center mt-4">¿De dónde eres?</h3>
        <div class="row mb-4">
            <div class="col">
                <label for="provincia">Provincia:</label>
                <select class="form-select" id="provincia" onchange="cambiarProvincia(provinciaS)">
                    @foreach (var item in provincias)
                    {
                        <option>@item</option>
                        
                    }
                </select>
            </div>
            <div class="col">
                <label for="canton">Cantón:</label>
                <select class="form-select" id="canton">
                    @foreach (var item in diccCantones[provinciaS])
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="distrito">Distrito:</label>
                <select class="form-select" id="distrito">
                    <option></option>
                </select>
            </div>
        </div>

        <h3 class="text-center">¿Cuáles son tus principales gustos?</h3>
        <p class="text-center">Selecciona 5</p>
        <div class="row mb-4">
            <!-- Primer columna -->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="videojuegos">
                    <label class="form-check-label" for="videojuegos">Videojuegos</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="deportes">
                    <label class="form-check-label" for="deportes">Deportes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="musica">
                    <label class="form-check-label" for="musica">Música</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cine">
                    <label class="form-check-label" for="cine">Cine</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="television">
                    <label class="form-check-label" for="television">Televisión</label>
                </div>
            </div>
            <!-- Segunda columna -->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="moda">
                    <label class="form-check-label" for="moda">Moda</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="lectura">
                    <label class="form-check-label" for="lectura">Lectura</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dibujo">
                    <label class="form-check-label" for="dibujo">Dibujo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="actividades">
                    <label class="form-check-label" for="actividades">Actividades al aire libre</label>
                </div>
            </div>

            <!-- Tercera columna -->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cocina">
                    <label class="form-check-label" for="cocina">Cocina</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="idiomas">
                    <label class="form-check-label" for="idiomas">Idiomas</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="politica">
                    <label class="form-check-label" for="politica">Política</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="viajar">
                    <label class="form-check-label" for="viajar">Viajar</label>
                </div>
            </div>

            <!-- Cuarta columna -->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="gimnasio">
                    <label class="form-check-label" for="gimnasio">Gimnasio</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cafeteria">
                    <label class="form-check-label" for="cafeteria">Cafetería</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="anime">
                    <label class="form-check-label" for="anime">Anime</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="voluntariado">
                    <label class="form-check-label" for="voluntariado">Voluntariado</label>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success mt-3 mb-5">Guardar</button>
        </div>

    </div>
    <script>
        var hola = cambiarProvincia(provinciaS);
        console.log(hola);
    </script>
</body>

</html>
