@page
@model LayoutTemplateWebApp.Pages.MentorSAMA.PerfilMentorModel
@{

    var userRole = @Model.role;
    Layout = userRole == "7415" ? "_MentorLayout" : "_ErrorLayout";

    if (userRole != "7415") Response.Redirect("/ErrorPage");
}

<div class="container mt-5">
    <div class="header text-center">
        <h1 class="Titulo display-1">¡Bienvenido, Mentor!</h1>
        @if (Model.Godchildren.Count > 0)
        {
            foreach (var godchild in Model.Godchildren)
            {
                <div class="card my-5" style="background-color: #e0f7fa;">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Ahijado:</h4>
                        <h5>@godchild.PersonName @godchild.FirstLastName @godchild.SecondLastName</h5>
                        <h4 class="card-title mt-4">Residencia:</h4>
                        <p>@godchild.Province</p>
                        <h4 class="card-title mt-4">Carrera:</h4>
                        <p>@godchild.DegreeName</p>
                        <h4 class="card-title mt-4">Gustos:</h4>
                        <ul class="mb-3">
                            @foreach (var liking in godchild.Likings)
                            {
                                <li>@liking.Name</li>
                            }
                        </ul>
                        <h4 class="card-title mt-4">Número de Contacto:</h4>
                        <p>@godchild.NumContact</p>
                        <h4 class="card-title mt-4">Correo Electrónico:</h4>
                        <p>@godchild.Email</p>
                        <h4 class="card-title mt-4">Comentario del Ahijado:</h4>
                        <p>@godchild.Comment</p>
                    </div>
                </div>
            }
        }
        else
        {
            <h6 class="textoMentor mt-4">Actualmente no tiene ahijados asignados.</h6>
        }
    </div>
</div>