@page
@model LayoutTemplateWebApp.Pages.AhijadoSAMA.FormularioModel
@{

    Layout = "_AhijadoLayout";
}
<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container mt-5">
        <h1 class="text-center">Formulario de Inscripción</h1>

        <h3 class="text-center mt-4">¿De dónde eres?</h3>
        <div class="row mb-4">
            <div class="col">
                <label for="provincia">Provincia:</label>
                <select class="form-select" id="provincia" value="@Model.CurrentUser.Province">
                    <option>@Model.CurrentUser.Province</option>
                    <!-- otros valores ... -->
                </select>
            </div>
            <div class="col">
                <label for="canton">Cantón:</label>
                <select class="form-select" id="canton" value="@Model.CurrentUser.Canton">
                    <option>@Model.CurrentUser.Canton</option>
                    <!-- otros valores ... -->
                </select>
            </div>
            <div class="col">
                <label for="distrito">Distrito:</label>
                <select class="form-select" id="distrito" value="@Model.CurrentUser.District">
                    <option>@Model.CurrentUser.District</option>
                    <!-- otros valores ... -->
                </select>
            </div>
        </div>

        <h3 class="text-center">¿Cuáles son tus principales gustos?</h3>
        <p class="text-center">Selecciona 5</p>
        <div class="row mb-4">
            <!-- Primer columna -->
            <div class="col">
                <!-- Videojuegos -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Videojuegos" id="videojuegos"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Videojuegos") ? "checked" : "")>
                    <label class="form-check-label" for="videojuegos">Videojuegos</label>
                </div>
                <!-- Deportes -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Deportes" id="deportes"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Deportes") ? "checked" : "")>
                    <label class="form-check-label" for="deportes">Deportes</label>
                </div>
                <!-- Música -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Música" id="musica"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Música") ? "checked" : "")>
                    <label class="form-check-label" for="musica">Música</label>
                </div>
            </div>
            <!-- Segunda columna -->
            <div class="col">
                <!-- Cine -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Cine" id="cine"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Cine") ? "checked" : "")>
                    <label class="form-check-label" for="cine">Cine</label>
                </div>
                <!-- Cocina -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Cocina" id="cocina"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Cocina") ? "checked" : "")>
                    <label class="form-check-label" for="cocina">Cocina</label>
                </div>
                <!-- Viajar -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Viajar" id="viajar"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Viajar") ? "checked" : "")>
                    <label class="form-check-label" for="viajar">Viajar</label>
                </div>
            </div>
            <!-- Tercera columna -->
            <div class="col">
                <!-- Libros -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Libros" id="libros"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Libros") ? "checked" : "")>
                    <label class="form-check-label" for="libros">Libros</label>
                </div>
                <!-- Tecnología -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Tecnología" id="tecnologia"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Tecnología") ? "checked" : "")>
                    <label class="form-check-label" for="tecnologia">Tecnología</label>
                </div>
                <!-- Naturaleza -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Naturaleza" id="naturaleza"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Naturaleza") ? "checked" : "")>
                    <label class="form-check-label" for="naturaleza">Naturaleza</label>
                </div>
            </div>
            <!-- Cuarta columna -->
            <div class="col">
                <!-- Arte -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Arte" id="arte"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Arte") ? "checked" : "")>
                    <label class="form-check-label" for="arte">Arte</label>
                </div>
                <!-- Fotografía -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Fotografía" id="fotografia"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Fotografía") ? "checked" : "")>
                    <label class="form-check-label" for="fotografia">Fotografía</label>
                </div>
                <!-- Otro gusto -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Otro" id="otro"
                    @(Model.CurrentUser.Likings.Exists(l => l.Name == "Otro") ? "checked" : "")>
                    <label class="form-check-label" for="otro">Otro</label>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <h3 class="text-center mt-4">Consideraciones adicionales:</h3>
            <textarea class="form-control" id="consideraciones" rows="4" maxlength="500">@Model.CurrentUser.Comment</textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success mt-3 mb-5">Guardar</button>
        </div>

    </div>
</body>

</html>