@page
@model LayoutTemplateWebApp.Pages.AhijadoSAMA.PerfilModel
@{
    Layout = "_AhijadoLayout";
}


<div class="container mt-5">
    <div class="header text-center">
        <h1 class="Titulo display-1">¡Bienvenido al sistema de Asignación Mentor-Ahijado!</h1>
        @if (Model.MentorData != null)
        {
            <h4 class="textoMentor mt-5">Su mentor es:</h4>
            <div class="card my-5" style="background-color: #e0f7fa;">
                <div class="card-body">
                    <h4 class="card-title mb-3">Nombre:</h4>
                    <h5>@Model.MentorData.PersonName @Model.MentorData.FirstLastName @Model.MentorData.SecondLastName</h5>
                    <h4 class="card-title mt-4">Residencia:</h4>
                    <p>@Model.MentorData.Province</p>
                    <h4 class="card-title mt-4">Carrera:</h4>
                    <p>@Model.MentorData.DegreeName</p>
                    <h4 class="card-title mt-4">Gustos:</h4>
                    <ul class="mb-3">
                        @foreach (var liking in Model.MentorData.Likings)
                        {
                            <li>@liking.Name</li>
                        }
                    </ul>
                    <h4 class="card-title mt-4">Número de Contacto:</h4>
                    <p>@Model.MentorData.NumContact</p>
                    <h4 class="card-title mt-4">Correo Electrónico:</h4>
                    <p>@Model.MentorData.Email</p>
                    <h4 class="card-title mt-4">Comentario del Mentor:</h4>
                    <p>@Model.MentorData.Comment</p>
                </div>
            </div>
        }
        else
        {
            <h6 class="textoMentor mt-4">Actualmente no tiene un mentor asignado.</h6>
        }
    </div>
</div>